.header {
  background: url('/imgs/lotus fundo.png') no-repeat center center/cover;
  text-align: center;
  padding: 20px 0;
}

.header img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 200px;
} 